body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing {
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: auto;
}

.landing h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.landing p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
}

.landing .box-container {
    display: flex;
    justify-content: center;
}

.landing .box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    text-align: center;
    margin: 20px;
}

.form-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.home-link {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.home-link:hover {
    color: #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}